html,body, section{
  margin:0;
  height: 100%;
}
section {
  @include outer-container();
  width: 70%;
  // height: 100%;

  // @include omega();
   header, section {
     @include span-columns(6);
     @include pad(15px);
     height: auto;
     background-color: red;
     height: 100%;
     margin-bottom: 2em;
   }

}
